.art-popup {
  width: 300px;
  min-height: 320px;
  margin: 20px 20px 30px;
  position: relative;
  overflow: hidden;

  &__section {
    width: 100%;
    line-height: 24px;
    margin-bottom: 10px;
  }

  &__title {
    font-weight: bold;
  }

  &__content {
    word-break: break-all;
  }

  &__btns {
    text-align: right;
    margin-top: 15px;
  }

  .ant-radio-wrapper {
    margin: 10px 0 0;
    width: 25%;
  }

  .ant-input {
    margin-top: 10px;
  }

  .ant-btn {
    margin-left: 10px;
  }
}
